/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    // withName: 'MULTIQC' {
    //     ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
    //     publishDir = [
    //         path: { "${params.outdir}/${meta.id}/multiqc" },
    //         mode: params.publish_dir_mode,
    //         saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    //     ]
    // }

    withName: ABRICATE_RUN {
        ext.args = "--db vfdb --minid 80 --mincov 80"
    }

    withName: ANY2FASTA {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    /*
    --------------------------------------------------------------------
                        DATABASE DOWNLOAD
    --------------------------------------------------------------------
    */
    withName: KRAKEN2_BUILDSTANDARD {
        ext.args = "--max-db-size ${params.kraken2db_size}"
        publishDir = [
            path: {"${params.db_path + '/kraken2db'}"},
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: WGET_GAMBITDB{
        ext.args = ''
        publishDir = [
            path: {"${params.db_path }"},
            mode: 'copy',
            overwrite: true
        ]
    }
    
    withName: AMRFINDERPLUS_UPDATE{
        ext.args =''
        publishDir = [
            path: {"${params.db_path + '/amrdb'}"},
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: BUSCO_DOWNLOAD {
        ext.args =''
        publishDir = [
            path: {"${params.db_path}/buscodb"},
            mode: 'copy',
            overwrite: true,
        ]
    }

    withName: BAKTA_BAKTADBDOWNLOAD {
        ext.args = {'--type light'}
        publishDir = [
            path: {"${params.db_path + '/baktadb'}"},
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: CHECKM2_DATABASEDOWNLOAD {
        publishDir = [
            path: {"${params.db_path + '/checkm2db'}"},
            mode: 'copy',
            overwrite: true
        ]
    }
    /*
    --------------------------------------------------------------------
                       CONVERSIONS (BAM/sam -> FASTQ or pre assembled -> fasta)
    --------------------------------------------------------------------
    */
    withName: SAMTOOLS_FASTQ {
        ext.args =''
        publishDir = [
            path:  {"${params.outdir}/${meta.id}/Conversions/samtools"}
        ]
    }

    /*
    --------------------------------------------------------------------
                        LONG READ QUALITY ASSESMENT
    --------------------------------------------------------------------
    */
    withName: SEQKIT_STATS {
        ext.args =''
        publishDir = [
            path: {"${params.outdir}/${meta.id}/readQA/seqkit_stats"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml
        ]

    }
    withName: ".*:LONGREADS_QA:NANOPLOT" {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/readQA/nanoplot"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml
        ]
    }

    withName: ".*:POST_FILTER_QA:NANOPLOT" {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/filteredreadQA/nanoplot"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml
        ]
    }

    withName: ".*:POST_FILTER_QA:FASTQC" {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/filteredreadQA/fastqc"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml
        ]
    }
    withName: ".*:LONGREADS_QA:FASTQC" {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/readQA/fastqc"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml
        ]
    }

    withName: "SEQKIT_STATS" {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/readQA/seqkit_stats"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml
        ]
    }

    withName: "POST_FILTER_SEQKIT" {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/filteredreadQA/seqkit_stats"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml
        ]
    }
    /*
    --------------------------------------------------------------------
                        ASSEMBLY
    --------------------------------------------------------------------
    */
    withName: FLYE {
        ext.args =''
        publishDir = [
            path: {"${params.outdir}/${meta.id}/assembly/flye"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml
        ]
    }

    /*
    --------------------------------------------------------------------
                        TAXONOMY
    --------------------------------------------------------------------
    */
    withName: GAMBIT {
        ext.args =''
        publishDir = [
            path: {"${params.outdir}/${meta.id}/taxonomy/gambit"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml
        ]
    }

    withName: GAMBIT {
        ext.args =''
        publishDir = [
            path: {"${params.outdir}/${meta.id}/taxonomy/gambit"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml
        ]
    }

    /*
    --------------------------------------------------------------------
                        LONG READ QUALITY CONTROL
    --------------------------------------------------------------------
    */

    withName: HIFIADAPTERFILT {
        ext.args =''
        publishDir = [
            path: {"${params.outdir}/${meta.id}/readQC/HifiAdapterfilt"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml
        ]
    }


    /*
    --------------------------------------------------------------------
                        ASSEMBLY QUALITY ASSESMENT
    --------------------------------------------------------------------
    */
    withName: BUSCO_BUSCO {
        ext.args =''
        publishDir = [
            path: { "${params.outdir}/${meta.id}/AssemblyQA/Busco" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }

    withName: CHECKM2_PREDICT {
        ext.args =''
        publishDir = [
            path: { "${params.outdir}/${meta.id}/AssemblyQA/Checkm2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }

    /*
    --------------------------------------------------------------------
                        ASSEMBLY
    --------------------------------------------------------------------
    */
    withName: FLYE {
        ext.args = {'--asm-coverage 50 --genome-size 5m'}
        publishDir  = [
            path: { "${params.outdir}/${meta.id}/Assembly/FLYE" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }
    /*
    --------------------------------------------------------------------
                        ANNOTATION
    --------------------------------------------------------------------
    */


    withName: BAKTA_BAKTA {
                publishDir = [
            path: { "${params.outdir}/${meta.id}/Annotation/Bakta" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }

    withName: PROKKA_PROKKA {
                publishDir = [
            path: { "${params.outdir}/${meta.id}/Annotation/Prokka" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }


    withName: RGI_MAIN {
                publishDir = [
            path: { "${params.outdir}/${meta.id}/Annotation/RGI" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }

    withName: RGI_MAIN {
                publishDir = [
            path: { "${params.outdir}/${meta.id}/Annotation/RGI" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }

    withName: AMRFINDERPLUS_RUN {
                publishDir = [
            path: { "${params.outdir}/${meta.id}/Annotation/AmrfinderPlus" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }

    withName: ABRICATE_RUN {
                publishDir = [
            path: { "${params.outdir}/${meta.id}/Annotation/AbricateVFDB" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }


    withName: MOBSUITE_RECON {
                publishDir = [
            path: { "${params.outdir}/${meta.id}/Annotation/Mobsuite" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }

    withName: MLST {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/Annotation/MLST" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }

}
