/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: ANY2FASTA {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    /*
    --------------------------------------------------------------------
                        DATABASE DOWNLOAD
    --------------------------------------------------------------------
    */
    withName: WGETKRAKEN2DB {
        ext.args = ""
        publishDir = [
            path: {"${params.db_path}"},
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: WGET_GAMBITDB{
        ext.args = ''
        publishDir = [
            path: {"${params.db_path }"},
            mode: 'copy',
            overwrite: true
        ]
    }
    
    withName: AMRFINDERPLUS_UPDATE{
        ext.args =''
        publishDir = [
            path: {"${params.db_path + '/amrdb'}"},
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: BUSCO_DOWNLOAD {
        ext.args =''
        publishDir = [
            path: {"${params.db_path}/buscodb"},
            mode: 'copy',
            overwrite: true,
        ]
    }

    withName: BAKTA_BAKTADBDOWNLOAD {
        ext.args = {'--type light'}
        publishDir = [
            path: {"${params.db_path + '/baktadb'}"},
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: CHECKM2_DATABASEDOWNLOAD {
        publishDir = [
            path: {"${params.db_path + '/checkm2db'}"},
            mode: 'copy',
            overwrite: true
        ]
    }
    /*
    --------------------------------------------------------------------
                       CONVERSIONS (BAM/sam -> FASTQ or pre assembled -> fasta or SAM -> Bam)
    --------------------------------------------------------------------
    */
    //BAM to reads
    withName: SAMTOOLS_FASTQ {
        ext.args =''
        publishDir = [
            path:  {"${params.outdir}/${meta.id}/Conversions/samtools"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml
        ]
    }
    //Bam/SAM to fastq
    withName: GATK4_SAMTOFASTQ {
        ext.args =''
        publishDir = [
            path: {"${params.outdir}/${meta.id}/Conversions/gatk4"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml
        ]
    }

    //Sam to bam
    withName: SAMTOOLS {
        ext.args =''
        publishDir = [
            path:  {"${params.outdir}/${meta.id}/Conversions/samtools"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml
        ]
    }

    //other files to fasta
    withName: ANY2FASTA {
        ext.args =''
        publishDir = [
            path: {"${params.outdir}/${meta.id}/Conversions/any2fasta"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml
        ]
    }

    withName: PIGZ_UNCOMPRESS {
        publishDir = [
                enabled: false
        ]
    }

    withName: PIGZ_SHORT {
        publishDir = [
                enabled: false
        ]
    }

    withName: GUNZIP_FASTA {
        publishDir = [
                enabled: false
        ]
    }
    /*
    --------------------------------------------------------------------
                        SHORT READ QUALITY ASSESMENT
    --------------------------------------------------------------------
    */

    withName: ".*:SHORTREADQA:FASTQC" {
        ext.args = '--quiet'
        publishDir = [
            path: {"${params.outdir}/${meta.id}/readQA/fastqc"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml
        ]
    }

    withName:".*:SHORTREADQA:SEQKIT_STATS" {
        ext.args = ''
        publishDir = [
            path: {"${params.outdir}/${meta.id}/readQA/seqkit_stats"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml
        ]
    }

    /*
    --------------------------------------------------------------------
                        SHORT READ QUALITY CONTROL
    --------------------------------------------------------------------
    */

    withName: BBMAP_BBDUK {
        ext.args = ["ktrim=r", "k=23", "mink=11", "hdist=1", "tpe", "tbo", "maq=10",
        "trimq=6", "qtrim=r","minlength=31"].join(' ').trim()
        publishDir = [
            path: {"${params.outdir}/${meta.id}/readsQC/bbduk"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
    /*
    --------------------------------------------------------------------
                        LONG READ QUALITY ASSESMENT
    --------------------------------------------------------------------
    */
    withName: ".*:LONGREADS_QA:SEQKIT_STATS" {
        ext.args =''
        publishDir = [
            path: {"${params.outdir}/${meta.id}/readQA/seqkit_stats"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml
        ]

    }

    withName: ".*:POST_FILTER_QA:SEQKIT_STATS" {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/filteredreadQA/seqkit"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml
        ]
    }
    withName: ".*:LONGREADS_QA:NANOPLOT" {
        ext.args =''
        publishDir = [
            path: {"${params.outdir}/${meta.id}/filteredreadQA/nanoplot"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml
        ]
    }

    withName: ".*:POST_FILTER_QA:NANOPLOT" {
        ext.args =''
        publishDir = [
            path: {"${params.outdir}/${meta.id}/filteredreadQA/nanoplot"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml
        ]
    }

    withName: ".*:POST_FILTER_QA:FASTQC" {
        ext.args ='--quiet'
        publishDir = [
            path: {"${params.outdir}/${meta.id}/filteredreadQA/fastqc"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml
        ]
    }
    withName: ".*:LONGREADS_QA:FASTQC" {
        ext.args ='--quiet'
        publishDir = [
            path: {"${params.outdir}/${meta.id}/filteredreadQA/fastqc"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml
        ]
    }

    withName: CHOPPER {  
        ext.args = '' 
        ext.args2 = "-q 10 --minlength 1000"
        ext.prefix = { "${meta.id}.chopper" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/readsQC/chopper" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    /*
    --------------------------------------------------------------------
                        TAXONOMY
    --------------------------------------------------------------------
    */
    withName: GAMBIT {
        ext.args =''
        publishDir = [
            path: {"${params.outdir}/${meta.id}/taxonomy/gambit"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml
        ]
    }

    withName: KRAKEN2_KRAKEN2 {
        ext.args=''
        publishDir = [
            path: {"${params.outdir}/${meta.id}/taxonomy/kraken2"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml
        ]
    }

    /*
    --------------------------------------------------------------------
                        LONG READ QUALITY CONTROL
    --------------------------------------------------------------------
    */

    withName: HIFIADAPTERFILT {
        ext.args =''
        publishDir = [
            path: {"${params.outdir}/${meta.id}/readQC/HifiAdapterfilt"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml
        ]
    }

    withName: CHOPPER {
        ext.args = ''
        publishDir = [
           path: {"${params.outdir}/${meta.id}/readQC/chopper"},
           mode: params.publish_dir_mode,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml 
        ]
    }

    withName: PORECHOP_PORECHOP {
        ext.args = ''
        publishDir = [
           path: {"${params.outdir}/${meta.id}/readQC/porechop"},
           mode: params.publish_dir_mode,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml 
        ]
    }

    /*
    --------------------------------------------------------------------
                        POLISHING
    --------------------------------------------------------------------
    */
    withName: MINIMAP2_ALIGN {
        ext.args = ''
        ext.args2 = ''
        ext.args3 = ''
        ext.args4 = ''
        publishDir = [
           path: {"${params.outdir}/${meta.id}/polished/minimap2"},
           mode: params.publish_dir_mode,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml 
        ]
    }
    withName: NEXTPOLISH {
        ext.args = '' //Adds options to run.cfg file, need \n new line character between options you may want to add. check modules/local/nextpolish/main.nf for an example
        publishDir = [
           path: {"${params.outdir}/${meta.id}/polished/nextpolish"},
           mode: params.publish_dir_mode,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml 
        ]
    }

    withName: MEDAKA {
        ext.args = ''
        publishDir = [
           path: {"${params.outdir}/${meta.id}/polished/medaka"},
           mode: params.publish_dir_mode,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml 
        ]
    }

    withName: RACON {
        ext.args = ''
        publishDir = [
           path: {"${params.outdir}/${meta.id}/polished/racon"},
           mode: params.publish_dir_mode,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml 
        ]
    }


    withName: PILON {
        ext.args = ''
        publishDir = [
           path: {"${params.outdir}/${meta.id}/polished/pilon"},
           mode: params.publish_dir_mode,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename } //Dont publish the versions.yml 
        ]
    }

    /*
    --------------------------------------------------------------------
                        ASSEMBLY QUALITY ASSESMENT
    --------------------------------------------------------------------
    */
    withName: BUSCO_BUSCO {
        ext.args =''
        publishDir = [
            path: { "${params.outdir}/${meta.id}/AssemblyQA/Busco" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }

    withName: CHECKM2_PREDICT {
        ext.args =''
        publishDir = [
            path: { "${params.outdir}/${meta.id}/AssemblyQA/Checkm2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }

    withName: CHECKM2_PREDICT {
        ext.args =''
        publishDir = [
            path: { "${params.outdir}/${meta.id}/AssemblyQA/Checkm2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }

    withName: QUAST {
        ext.args =''
        publishDir = [
            path: { "${params.outdir}/${meta.id}/AssemblyQA/quast" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }

    /*
    --------------------------------------------------------------------
                        ASSEMBLY
    --------------------------------------------------------------------
    */
    withName: FLYE {
        ext.args = {''}
        publishDir  = [
            path: { "${params.outdir}/${meta.id}/Assembly/FLYE" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }

    withName: SPADES {
        ext.args = ''
        publishDir  = [
            path: { "${params.outdir}/${meta.id}/Assembly/SPADES" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }

    withName: UNICYCLER {
        ext.args = ''
        publishDir  = [
            path: { "${params.outdir}/${meta.id}/Assembly/UNICYCLER" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }

    /*
    --------------------------------------------------------------------
                        ANNOTATION
    --------------------------------------------------------------------
    */


    withName: BAKTA_BAKTA {
            ext.args = ''
            publishDir = [
            path: { "${params.outdir}/${meta.id}/Annotation/Bakta" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }

    withName: PROKKA {
            ext.args = '--centre X --compliant'
            publishDir = [
            path: { "${params.outdir}/${meta.id}/Annotation/Prokka" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }


    withName: RGI_MAIN {
            ext.args = ''
            ext.args2 = ''
            publishDir = [
            path: { "${params.outdir}/${meta.id}/Annotation/RGI" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }

    withName: AMRFINDERPLUS_RUN {
            ext.args = ''
            publishDir = [
            path: { "${params.outdir}/${meta.id}/Annotation/AmrfinderPlus" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }

    withName: ABRICATE_RUN {
            ext.args = "--db vfdb --minid 80 --mincov 80"
            publishDir = [
            path: { "${params.outdir}/${meta.id}/Annotation/AbricateVFDB" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }


    withName: MOBSUITE_RECON {
            ext.args = ''
            publishDir = [
            path: { "${params.outdir}/${meta.id}/Annotation/Mobsuite" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }

    withName: MLST {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/${meta.id}/Annotation/MLST" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }

    /*
    --------------------------------------------------------------------
                        VISUALIZATIONS
    --------------------------------------------------------------------
    */

    withName: GUNZIP_GFA {
            publishDir = [
                enabled: false
        ]
    }

    withName: BANDAGE_IMAGE {
            ext.args = ''
            publishDir = [
            path: { "${params.outdir}/${meta.id}/visualizations/bandage" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }

    withName: CGVIEW {
            ext.args = '-feature_labels T '
            publishDir = [
            path: { "${params.outdir}/${meta.id}/visualizations/cgview" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }


    withName: TINYCOV {
            publishDir = [
            path: { "${params.outdir}/${meta.id}/visualizations/tinycov" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }//Dont publish the versions.yml
        ]
    }

    withName: CUSTOMVIS {
        publishDir = [
            path: { "${params.outdir}/customVisualizations" },
            mode: params.publish_dir_mode,
        ]
    }

}
